@{
    ViewBag.Title = "RelatorioQtasPartidas";
}

<div class="container">
    <h2>Relatorio com o Numero de Partidas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Numero de Partidas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.QtasPartidas</td>
            </tr>
        </tbody>
    </table>
</div>
